//$primary: #ae23b8 // purple
//$primary: #f06b08
$primary: #f06b08
$white: #fafafa
$link: $primary
//$contrast: #160f0f
//#020261
//$contrast: linear-gradient(to right, #2b5876, #4e4376)
$contrast: linear-gradient(to right, black, $primary)
$navbar-background-color: transparent
$background: rgb(8, 8, 10)

@import "../node_modules/bulma/bulma.sass"

body
  font-family: "Roboto Slab", serif
  background-color: $background
  color: black

.sp-footer
  background-color: $background
  color: $white
  a
    text-decoration: underline
    color: white

.sp-bignote-container
  margin: 0 auto
  font-size: 1.2rem
  min-height: 100vh
  background-color: $white
  border: 1px solid lightgrey
  padding-bottom: 5rem
  +tablet
    width: 800px

  .sp-note, .sp-search-results
    min-height: 100vh
    padding: 1rem
    padding-right: 3rem

  .sp-search-results a:nth-child(even) div
    background-color: #edeee9

  .sp-note-header
    +tablet
      width: 800px
    position: fixed
    top: 0px
    a
      position: absolute
      right: 1rem
      top: 1rem

      img
        width: 2rem

  .sp-search-header
    padding: 1rem
    display: flex

    .sp-search
      margin: 0 auto
      width: 80%
      .sp-search-box
        width: 100%
    img
      width: 2rem

    .icon img
      width: 1rem

[contenteditable]:focus
  outline: 0px solid transparent

.sp-hidden
  display: none !important
